/* html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
}
.header {
  width: 100%;
  height: 140px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fff;
}

.current-user-wrapper {
  display: flex;
  align-items: center;
}

.current-user-wrapper > * + * {
  margin-left: 16px;
}

.current-user {
  width: 50px;
  height: 50px;
}

.logo {
  width: 250px;
}
.class-room-list-student-contents {
  flex: 1;
  background: url('../img/ClassRoomList/classroom-S-background.svg');
  background-size: cover;
  padding: 80px 0;
}

.main-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.classroom-info-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.classroom-info-box {
  width: 400px;
  height: 300px;
  border: 1px solid #9097fd;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  overflow: hidden;
  background-color: #fff;
}

.classroom-info-box-title {
  font-size: 18px;
  font-weight: bold;
  color: #9097fd;
}

.classroom-info-box-contents {
  overflow-y: auto;
}

.current-classroom-wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.current-classroom-thumbnail {
  width: 100%;
  height: 250px;
  background-color: #e4e4e4;
}

.enter-current-classroom-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enter-current-classroom-section-img-left {
  width: 100px;
}

.enter-current-classroom-section-img-right {
  width: 100px;
  transform: rotate(0deg);

  -moz-transform: scaleX(-1);

  -o-transform: scaleX(-1);

  -webkit-transform: scaleX(-1);

  transform: scaleX(-1);
}
.enter-current-classroom-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #9097fd;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  line-height: 150px;
  text-align: center;
}

.enter-new-classroom-form-title {
  font-size: 18px;
  font-weight: bold;
  color: #9097fd;
  margin-bottom: 16px;
  text-align: center;
}

.enter-new-classroom-form-input-wrapper {
  display: flex;
  align-items: center;
}
.enter-new-classroom-form-input {
  width: 150px;
  height: 32px;
  text-align: center;
  border: 1px solid #9097fd;
}

.enter-new-classroom-form-input::placeholder {
  font-size: 18px;
  color: #e4e4e4;
  text-align: center;
}

.enter-new-classroom-form-submit-button {
  font-size: 18px;
  font-weight: bold;
  color: #9097fd;
  margin-left: 16px;
} */
