@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.classroom-list-contents {
  width: 100%;
  height: calc(100vh - 80px);
  flex: 1;
  background-color: #f6f7fb;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.create-classroom-form {
  width: 100%;
  padding: 50px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.create-classroom-input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-classroom-input-wrapper + .create-classroom-input-wrapper {
  margin-top: 24px;
}

.create-classroom-input-label {
  color: #333333;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 16px;
  letter-spacing: -1px;

  /* font-weight: 300; */
  /* font-size: 13px; */
  min-width: 55px;
  text-align: center;
  margin-right: 16px;
  padding-bottom: 5px;
}

.create-classroom-input {
  flex: 1;
  border: 1px solid #9097fd;
  height: 30px;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 16px;
  letter-spacing: -1px;
  color: #333333;
}

.create-classroom-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #9097fd;
  line-height: 120px;

  text-align: center;
  color: #fff;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 18px;
  letter-spacing: -1px;
}

.create-classroom-input-wrapper + .create-classroom-button {
  margin-top: 100px;
}

.create-classroom-input:focus {
  outline: none;
}

.contents-grid-wrapper {
  flex: 1;
  display: grid;
  /* overflow-y: scroll; */
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: max-content;

  gap: 40px;
  grid-auto-flow: row;
  justify-content: center;
}

.classroom-card {
  width: 300px;
}

.classroom-thumbnail {
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.classroom-card-more-button {
  position: relative;
  width: 30px;
  z-index: 1;
  top: -220px;
  left: 260px;
}

.classroom-card-more-button:hover {
  filter: invert(100%);
  cursor: pointer;
}

.classroom-card-more-button > img {
  width: 6px;
}

.classroom-info {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.classroom-title {
  color: #9097fd;
  margin-right: 8px;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 18px;
  letter-spacing: -1px;
}
.classroom-member-count {
  color: #666666;
  font-weight: 500;
  font-size: 14px;
  flex: 1;
}

.classroom-teacher-thumbnail {
  width: 30px;
  height: 30px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-right: 8px;
}
.classroom-teacher-name {
  color: #9097fd;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 18px;
  letter-spacing: -1px;
}
