html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
}
.header {
  width: 100%;
  height: 140px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fff;
}

.current-user-wrapper {
  display: flex;
  align-items: center;
}

.current-user-wrapper > * + * {
  margin-left: 16px;
}

.current-user {
  width: 50px;
  height: 50px;
}

.logo {
  width: 250px;
}
.classroom-contents {
  height: 100%;
  margin: 0 auto;
  padding-top: 0px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.class-list {
  display: flex;
  overflow: hidden;
}

.time-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-line-header {
  margin-bottom: 8px;

  font-family: 'GmarketSansBold';
  font-size: 20px;
  letter-spacing: -1px;
  color: #9097fd;
}

.time-line-divider {
  width: 8px;
  flex: 1;
  background-color: #aeb3ff;
}

.class-card-list {
  flex: 1;
  overflow-y: auto;
  padding: 40px 0;
}

.class-card + .class-card {
  margin-top: 70px;
}

.class-card {
  display: flex;
}

.class-card-left {
  height: 100%;
  margin-right: 120px;
}

.class-card-duration-time {
  color: #9097fd;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: bold;
}

.class-card-center {
  display: flex;
  flex-direction: column;
}
.class-card-right {
  display: flex;
  align-items: center;
}

.class-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.class-card-classroom {
  font-size: 18px;
  font-weight: 900;
  color: #9097fd;
  margin-right: 70px;
}

.class-card-subject {
  font-size: 18px;
  font-weight: 900;
  color: #9097fd;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 18px;
  letter-spacing: -1px;
}

.class-card-thumbnail {
  width: 400px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid #9097fd;
}

.class-card-enter-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #9097fd;

  font-family: 'GmarketSansBold';
  font-size: 20px;
  letter-spacing: -1px;

  color: #fff;
  line-height: 120px;
  text-align: center;
  margin-left: 50px;
  cursor: pointer;
}
