html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.sign-in-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sign-in-image {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-image: url(../img/login-signup/background-left.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 100px 150px;
}

.sign-in-image-board {
  margin: 0 auto;
  width: 400px;
}

.sign-in-image-board > img {
  width: 100%;
  margin-top: 60px;
}

.sign-in-image-contents {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 20px;
  text-align: center;
  color: #666666;
  padding: 10px;
  letter-spacing: -1px;
}

.sign-in-wrapper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(../img/login-signup/background-right.svg);
}

.sign-in-header {
  text-align: center;
  font-size: 36px;
}
.attention-logo {
  margin: 56px 0;
  width: 200px;
}

.attention-logo > img {
  width: 100%;
}

.sign-in-contents-wrapper {
  /* width: 600px; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-tab {
  display: flex;
  width: 100%;
  border-bottom: 5px solid #e5e5e5;
}

.selected::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: #00d39d;
  height: 9px;
}

.tab-contents {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.input-wrapper + .input-wrapper {
  margin-top: 32px;
}

.input-label {
  width: 150px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #9097fd;
  margin-right: 4px;
}
.form {
  width: 250px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #666666;
  padding-left: 16px;
  transition: border 100ms ease-in;
}
.input {
  width: 240px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #9097fd;
  padding-left: 16px;
  transition: border 100ms ease-in;
}
.error-message {
  color: red;
}
.sign-in-button-wrapper {
  display: flex;
  align-items: center;
}

.arrow {
  width: 200px;
  margin-right: 30px;
}
.sign-in-button {
  cursor: pointer;
  width: 124px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #9097fd;

  font-size: 24px;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.go-to-signup {
  cursor: pointer;
  color: #9097fd;
  font-size: 20px;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  padding: 30px;
}
